<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Analytics</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body { font-family:sans-serif; padding:20px; }
.chart { width:100%; max-width:800px; margin:auto; }
</style>
</head>

<body>

<h2>📊 Frame-wise Analytics</h2>

<canvas id="frameChart" class="chart"></canvas>

<script>

async function loadFrameAnalytics(){

    const res = await fetch("/analytics-data");
    const data = await res.json();

    new Chart(document.getElementById("frameChart"),{
        type:"line",
        data:{
            labels:data.frames,
            datasets:[{
                label:"Available Slots",
                data:data.values,
                borderColor:"green",
                fill:true
            }]
        }
    });
}

loadFrameAnalytics();

</script>

</body>
</html>